@import '~@fluentui/react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';
.scw {
    .container {
        margin: 0px;
       
    }

    .row {
        @include ms-Grid-row;
        padding: 30px;
    }

    .column {
        @include ms-Grid-col;
        @include ms-lg10;
        @include ms-xl8;
        @include ms-xlPush2;
        @include ms-lgPush1;
    }

    .title {
        @include ms-font-xl;
        @include ms-fontColor-white;
    }

    .subTitle {
        @include ms-font-l;
        @include ms-fontColor-white;
    }

    .description {
        @include ms-font-l;
        @include ms-fontColor-white;
    }

    .button {
        // Our button
        text-decoration: none;
        height: 32px;
        // Primary Button
        min-width: 80px;
        background-color: #106EBE;
        border-color: #106EBE;
        color: $ms-color-white;
        // Basic Button
        outline: transparent;
        position: relative;
        font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: $ms-font-size-l;
        font-weight: $ms-font-weight-regular;
        border-width: 0;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        padding: 0 16px;

        .label {
            font-weight: $ms-font-weight-semibold;
            font-size: $ms-font-size-m;
            height: 32px;
            line-height: 32px;
            margin: 0 4px;
            vertical-align: top;
            display: inline-block;
        }
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }
}

:global {

    .ant-steps {
        width: 50%;
        // margin-left: 100px;
    }
    

    .steps-content {
        min-height: 200px;
        padding-top: 50px;
    }

    .steps-action {
        margin-top: 24px;
    }

  
    .ant-steps .ant-steps-item-process .ant-steps-item-icon >.ant-steps-icon {
        color:#004DB8;
        font-weight: bold;
        // vertical-align: middle;
       
    }

    .ant-steps .ant-steps-item-icon .ant-steps-icon {
        top: -1px;
    }


    .ant-steps .ant-steps-item-process .ant-steps-item-icon {
        background-color: white;
        border: 2px solid #004DB8!important;
        
    }

    .ant-steps .ant-steps-item-wait .ant-steps-item-icon {
        border: 2px solid #605E5C;
        background-color: white;
        
    }


    .ant-steps .ant-steps-item-wait .ant-steps-item-icon >.ant-steps-icon {
        font-weight: bold;
    }

    .ant-steps .ant-steps-item-finish .ant-steps-item-icon {
        background-color: #004DB8;
    }


    .anticon svg{
        color: white;
        font-size: 16px;
        text-shadow: white;
    }

    .ant-steps .ant-steps-item-tail::after {
        border: 1px solid #605E5C;
    }

    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after{
        border: 1px solid #004db8;
    }


    .ant-steps.ant-steps-label-vertical .ant-steps-item-tail{
        padding: 2px 16px;
    }

    .ant-steps .ant-steps-item-title {
        font-size: 12px;
    }

    .ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title{
        color: #605E5C;
    }

    .ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title{
        color: #004DB8;
    }
    
    .ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title{
        color: #106EBE;
    }

    .ant-steps.ant-steps.ant-steps-label-vertical .ant-steps-item-content{
        margin-top:0px;
    }


    [data-theme="dark"] .steps-content {
        margin-top: 16px;
        border: 1px dashed #303030;
        background-color: rgba(255, 255, 255, 0.04);
        color: #605E5C;
        padding-top: 80px;
    }
}

.centerButton {
    left:40%;
    width:150px;
}


:global {
    #workbenchPageContent,
    .CanvasComponent.LCS .CanvasZone {
      max-width: 80% !important;
      font-size: 18px;
    }
  }

// :global {
//     font-size: 18px;

//     .p {
//         font-size: 18px;
//     }
// }

.instruction {
    font-size: 14px;
    color: #605E5C;
    margin:0px;
    padding-bottom: 8px;
}
:global {
    .icon-131 {
        font-size: 24px;
        
    }
    .css-41 {
        font-weight: 900;
    }
}


.cancelIcon {
    color: white;
    background-color: transparent;
    padding-top:5px;
    float: 'right';
    // font-weight: 900;
}

.cancelIcon:hover{
    background-color: transparent;
    color: white;
//     font-weight: 900;
}

.cancelIcon:focus {
    outline:#c0c0cc;
}

.close{
    color: #B75915;
    background-color: white;
    border: none;
    font-size: 18px;

    &:hover {
        background-color: white;
        color: #FF510F;
        font-weight: bolder;
        border:1px solid #FF510F ; 
    }
    
}

.close:focus {
    
        outline-color: #FF510F ;
  
}



.horizontalLine {
    border-bottom: 1px solid #605E5C;
    width: 100%;
}

:global {
    .main-149 {
        max-width: 'calc(50% - 32px)'
    }
}

// :global {
//     .ms-TextField-errorMessage {
//         display: none;
//       }
// }

.terms {
    margin: 0px!important;
    text-indent: 2.5em;
}

.previousbtn {
    display:flex;
    justify-content: center;
    background: #c0c0cc!important;
    color:#335075;
    width: 250px;
    font-size: 14px;
}

.previousbtn:hover{
    color:#335075!important ;
}




.modalContent {
    font-size: 16px;
}


.choiceCard {
    box-shadow: 2px ;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.choiceCardBorder {
   border: 1px solid #004DB8;
   border-radius: 5px;
}

  
  .cardHeading {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #004DB8;
    padding: 10px;
    height: 40px;
    color: white; 
    font-weight: bold; 
  }

  .cardHeading2 {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color:#02A0FF;
    padding: 10px;
    height: 40px;
    font-weight: bold; 
}


.cardBody {
    padding: 20px;
    height: 150px;
    border-bottom: 1px solid #c0c0cc;
    border-right: 1px solid #c0c0cc; 
    border-left: 1px solid #c0c0cc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inviteContainer {
    display:flex;
    flex-direction: column;
    align-items: 'center';
    border: 1px solid gray;
    border-radius: 8px;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px;
}

.magnifyingIcon {
    color:#004DB8;
    font-size: 36px;
    margin-right:30px;
}


.btmSpace {
    padding-bottom: 18px;
}


.largebtn {
    width: 250px;
}


:global {
    .ms-Checkbox.is-enabled .ms-Checkbox-checkbox {
        background-color: white;
    }

    .ms-Checkbox.is-enabled .ms-Checkbox-checkbox:hover {
        background-color: white;
        border: 2px solid #004DB8;
    }

    .ms-Checkbox-checkmark{
        font-weight: bold;
    }
}


.mainTitle {
    font-size: large!important;
    margin-bottom: 0px;
    opacity: 0.8;
}

:global {
    .ms-ChoiceField {
        margin-right: 50px;
    }
    
    
}

.checkedRadioButton1 {
    border: 2px solid rgb(0, 77, 184) ;
    border-radius: 8px;
}

.checkedRadioButton2 {
    border: 2px solid rgb(0, 77, 184,0.6);
    border-radius: 8px;
}

.calloutText {
    font-size: 14px;
}

u {
    color: #004DB8!important;   
}

.topMgn0 {
    margin-top: 0px;
}

.asterik {
    color: #C61515;
    padding-right: 2px
}

.fieldInstruction {
    margin: 0px;
    font-size: 12px;
    padding-left: 5px;
    font-weight: 700;
    color: #C61515;
}

.errorIcon {
    font-size: 16px;
    color: #C61515;
    font-weight: 700;
}

.oopsIcon {
    font-size: 70px!important;
    color: white;
}

.errorBorder {
 border-left: 5px solid #C61515;
 margin-left: -20px;
 padding-left: 14px;
}

.ownerError span  {
        color: #C61515;
        font-weight: 700;
        font-size: 12px;
 
}

.ownerError i {
    color: #C61515;
    font-weight: 700;
    font-size: 16px;

}

:global {
    .ms-Label {
        font-weight: normal;
    }
    
    
}
.charCountError {
    color: #C61515;
    font-weight: 700!important;
    margin-top: -20px;
}
