@import '~@fluentui/react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display:flex!important;
    flex-direction: column;
}

.container > h3 {
    margin-bottom: 0px;
}

p { font-size:18px }


.card {
    display: flex;
    flex-direction: column;
    width:400px;
    height:225px;



    p {
        text-align-last: center;
        font-size: 18px!important;
        white-space: break-spaces;
    }


    strong{
        // color: rgb(0, 120, 212);
        color: #004DB8;

    }
    
    a {
        color: #004DB8;
    }

}


.blue {
//    color:  rgb(0, 120, 212);
    color: #004DB8;
}



.mg0 {
    margin: 0px;
}

.mgBottom0 {
    margin-bottom: 0px;
}
