@import '~@fluentui/react/dist/sass/References.scss';
@import '~office-ui-fabric-react/dist/sass/References.scss';

.container {
    display:flex!important;
    flex-direction: column;
}

p { font-size:18px }


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:225px;
    height:225px;
    padding: 10px;


    h3 {
        margin-bottom: 0;
    }

    p {
        font-size: 18px!important;
        text-align: center;
    }

    p .mgsides{
        margin-left:10px;
        margin-right:10px;
    }

    strong{
        color: rgb(0, 120, 212);
    }
}

.blue {
   color:  rgb(0, 120, 212);
}



.mg0 {
    margin: 0px;
}

.mgBottom0 {
    margin-bottom: 0px;
}
